*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  margin: 0 auto;
}
.header{

  display: flex;
  background-color: rgb(42, 42, 231);
  padding: .6em;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header > img{
  width: 3%;
  height: 3%;
  margin-left: 20px;
}
.search{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.input-search{
  width:60%
}
.cards{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.cards-item{
  text-align: center;
  margin: 5px;
  width: 50%;
  border: 1px solid grey;
  padding: 2px;
  background-color: rgb(248, 248, 248);
  text-decoration: none;
  color:black
}
.card-img{
  width:200px;
  height:200px
}